.EditorFields {
  position: relative;
  font-family: var(--font-sans);
}

.EditorFields--isLoading {
  min-height: 48px; /* Ensure there is sufficient room for loader if no fields */
}

.EditorFields-loadingOverlay {
  background: var(--color-card);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 1;
  pointer-events: all;
  box-sizing: border-box;
  opacity: 0.8;
}

.EditorFields-loadingOverlayInner {
  display: flex;
  padding: 16px;
  position: sticky;
  top: 0;
}

.EditorFields-field * {
  box-sizing: border-box;
}

.EditorFields--wrapFields .EditorFields-field {
  color: var(--color-muted-foreground);
  padding: 14px 16px;
  display: block;
}

.EditorFields--wrapFields .EditorFields-field + .EditorFields-field {
  border-top: 1px solid var(--color-border);
}

