:root {
  /*
   * Color palette
   */

  --fe-color-rose-01: #4a001c;
  --fe-color-rose-02: #670833;
  --fe-color-rose-03: #87114c;
  --fe-color-rose-04: #a81a66;
  --fe-color-rose-05: #bc5089;
  --fe-color-rose-06: #cc7ca5;
  --fe-color-rose-07: #d89aba;
  --fe-color-rose-08: #e3b8cf;
  --fe-color-rose-09: #efd6e3;
  --fe-color-rose-10: #f6eaf1;
  --fe-color-rose-11: #faf4f8;
  --fe-color-rose-12: #fef8fc;

  --fe-color-azure-01: #00175d;
  --fe-color-azure-02: #002c77;
  --fe-color-azure-03: #014292;
  --fe-color-azure-04: #0158ad;
  --fe-color-azure-05: #3479be;
  --fe-color-azure-06: #6499cf;
  --fe-color-azure-07: #88b0da;
  --fe-color-azure-08: #abc7e5;
  --fe-color-azure-09: #cfdff0;
  --fe-color-azure-10: #e7eef7;
  --fe-color-azure-11: #f3f6fb;
  --fe-color-azure-12: #f7faff;

  --fe-color-green-01: #002000;
  --fe-color-green-02: #043604;
  --fe-color-green-03: #084e08;
  --fe-color-green-04: #0c680c;
  --fe-color-green-05: #1d882f;
  --fe-color-green-06: #2faa53;
  --fe-color-green-07: #56c16f;
  --fe-color-green-08: #7dd78b;
  --fe-color-green-09: #b8e8bf;
  --fe-color-green-10: #ddf3e0;
  --fe-color-green-11: #eff8f0;
  --fe-color-green-12: #f3fcf4;

  --fe-color-yellow-01: #211000;
  --fe-color-yellow-02: #362700;
  --fe-color-yellow-03: #4c4000;
  --fe-color-yellow-04: #645a00;
  --fe-color-yellow-05: #877614;
  --fe-color-yellow-06: #ab9429;
  --fe-color-yellow-07: #bfac4e;
  --fe-color-yellow-08: #d4c474;
  --fe-color-yellow-09: #e6deb1;
  --fe-color-yellow-10: #f3efd9;
  --fe-color-yellow-11: #f9f7ed;
  --fe-color-yellow-12: #fcfaf0;

  --fe-color-red-01: #4c0000;
  --fe-color-red-02: #6a0a10;
  --fe-color-red-03: #8a1422;
  --fe-color-red-04: #ac1f35;
  --fe-color-red-05: #bf5366;
  --fe-color-red-06: #ce7e8e;
  --fe-color-red-07: #d99ca8;
  --fe-color-red-08: #e4b9c2;
  --fe-color-red-09: #efd7db;
  --fe-color-red-10: #f6eaec;
  --fe-color-red-11: #faf4f5;
  --fe-color-red-12: #fff9fa;

  --fe-color-grey-01: #181818;
  --fe-color-grey-02: #292929;
  --fe-color-grey-03: #404040;
  --fe-color-grey-04: #5a5a5a;
  --fe-color-grey-05: #767676;
  --fe-color-grey-06: #949494;
  --fe-color-grey-07: #ababab;
  --fe-color-grey-08: #c3c3c3;
  --fe-color-grey-09: #dcdcdc;
  --fe-color-grey-10: #efefef;
  --fe-color-grey-11: #f5f5f5;
  --fe-color-grey-12: #fafafa;

  --fe-color-black: #000000;
  --fe-color-white: #ffffff;
}
